<header class="site-header">
    <div class="logo">
        <img src="/assets/HP-Logo.png" atl="Hersheypark Logo" style="height: 70px; vertical-align: middle; margin-right: 8px;" />
        Hershey Amusement Park
    </div>
    <nav class="nav-menu">
        <a href="#">Home</a>
        <a href="#">Shop</a>
        <a href="#">Cart</a>
    </nav>
    <div class="icons">
        <button aria-label="View Cart">
          <img src="/assets/Shopping_cart.png" alt="Cart" />
        </button>
      </div>
</header>
